/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px;
}

/* grid system -- mobile first! */
article {
	float: left;
	margin-left: 20px;
	width: 100%;
}

.wrapper > div {
	content: "";
	display: table;
	clear: both;
	background-color: yellow;
	margin-bottom: 5px;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	article {
		width: 50%;
	}
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	.row-1 article {
		width: 23%;
	}

	.row-2 article {
		width: 45%;
	}

	.row-3 article:nth-child(0) {
		width: 23%
	}

	.row-3 article:nth-child(1) {
		width: 74%
	}

	.row-4 article {
		width: 100%;
	}
}